.login {
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.botones-login {
  display: flex;
  justify-content: space-evenly;
}
.formulario {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #bdc3c7;
}
.me-auto {
  display: flex;
  justify-content: space-around;
}
